<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Host" value="smtp.gmail.com"/>
    <add key="Port" value="587"/>
    <add key="SSL" value="true"/>
    <add key="FromEmail" value="test@noreply.com"/>
    <add key="Username" value="xx@gmail.com"/>
    <add key="Password" value="xx"/>
  </appSettings>
</configuration>
